<h2>Enhorabuena!!!, {{User.username}}!</h2>
<p>Te has registrado correctamente, Bienvenido a trollAdvisor <b>trollAdvisor</b>!</p>
<p>En breves momentos recibira un email de c,onfirmacion para validar su cnuenta</p>

