<form action="/auth/edit" method="POST" id="form-container" enctype="multipart/form-data"></form>

<p>{{user.email}}</p>
<p>{{user.isRestaurant}}</p>

<label for="profilePic">Profile Pic</label>
<input id="profilePic" type="file" name="profilePic" placeholder="Profile pic"><br><br>

<label for="bio">Username</label>
<input id='username' type="text" name='username' placeholder='Tell us something about you!'><br>

<label for="Email">Email</label>
<input id='Email' type="text" name='Email' placeholder='Tell us something about you!'><br>


<label for="bio">Bio</label>
<input id='bio' type="text" name='bio' placeholder='Tell us something about you!'><br>

{{#if user.isRestaurant}}
<label for="address">Address</label>
<input id='address' type="text" name='address' placeholder='Address of the restaurant'>
<label for="city">City</label>
<input id='city' type="" name='city' placeholder='City'>
<button type="submit">SignUp</button>
{{/if}}
{{#if message }}
<div class="error-message">{{ message }}</div>
{{/if}}

</form>






{{!-- uploadCloud.single('profilePic' --}}