<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="marcpomar@winniethepooh.com"><br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="********">
  <br><br>
  <input type="radio" name="isRestaurant" value="true">Restaurant
{{!--   <select name="rol" id="">
    <option value="Owner">Owner</option>
    <option value="Customer">Customer</option>
  </select> --}}
  <br><br>
  <button type="submit">SignUp</button>
</form>