<label for="profilePic">Profile Pic</label>
<input id="profilePic" type="file" name="profilePic" placeholder="Profile pic">
<h3>{{user.username}}</h3>
<a href="">Nueva valoración</a>
<a href="">Historico de valoraciones</a>
<a href="">Nueva invitación</a> 
<a href="">Historico de invitaciones</a>

