{{!-- 


<div class="container">
	<div class="row">
		<h2>Busca a tus clientes favoritos</h2>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="input-group buscador-principal">    					
						<input name="search_param" value="all" id="search_param" type="hidden">         
						<input class="form-control" name="x" placeholder="¿Qué quieres buscar?" type="text">
						<div class="input-group-btn search-panel">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span id="search_concept">¿Dónde?</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
							<li><a href="http://placesforlove.com">Placesforlove</a></li>
							<li><a href="http://placesforlove.com">It's Placesforlove</a></li>
							<li><a href="http://placesforlove.com">Greather than Placesforlove</a></li>
							<li><a href="http://placesforlove.com">Placesforlove </a></li>
							<li class="divider"></li>
							<li><a href="http://trovacamporella.com">trovacamporella</a></li>
							</ul>
						</div>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> BUSCAR</button>
						</span>
					</div>
                    </div>
	</div>
</div> --}}